BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Standard: Cpp17
SortIncludes: false
IncludeBlocks: Regroup
